table, th, td {
    margin:2px;
    padding:2px;
    border: 1px solid black;
    border-collapse: collapse;
  }


*{
    margin:5px;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}